<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button fill="clear" class="back-button" (click)="router.navigate(['/login'])">
				<ion-icon name="arrow-back"></ion-icon>
				<ion-text>Back</ion-text>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card class="signup-card">
		<ion-card-header>
			<img src="assets/icon/logo_trans.png" alt="HoneyDo Logo" class="logo">
			<ion-card-title>Welcome!</ion-card-title>
			<ion-card-subtitle>Join us to get started</ion-card-subtitle>
		</ion-card-header>

		<ion-card-content>
			<form [formGroup]="signupForm" (ngSubmit)="handleSubmit()">

				<!-- Google Sign-In -->
				<ion-button
					fill="clear"
					[disabled]="loading"
					(click)="handleGoogleSignIn()"
					class="hd-button">
					<ion-icon slot="start" name="logo-google"></ion-icon>
					Continue with Google
				</ion-button>

				<!-- Separator -->
				<div class="separator">
					<div></div>
					<span>OR</span>
					<div></div>
				</div>

				<!-- Form -->
				<ion-input
					type="email"
					label="Email"
					labelPlacement="stacked"
					placeholder="Enter your email"
					fill="outline"
					formControlName="email"
					[disabled]="loading"
				/>

				<ion-input
					type="password"
					formControlName="password"
					[disabled]="loading"
					label="Password"
					labelPlacement="stacked"
					placeholder="Enter your password"
					fill="outline">
				</ion-input>

				<ion-progress-bar [value]="passwordStrength" color="warning" class="password-bar"></ion-progress-bar>
				<ion-text class="strength-text" [ngClass]="{
					'strength-weak': passwordStrength < 0.4,
					'strength-medium': passwordStrength >= 0.4 && passwordStrength < 0.8,
					'strength-strong': passwordStrength >= 0.8
				}">
					Strength: {{ passwordStrengthLabel() }}
				</ion-text>

				<ion-input
					type="password"
					formControlName="confirmPassword"
					[disabled]="loading"
					label="Confirm Password"
					labelPlacement="stacked"
					placeholder="Confirm your password"
					fill="outline">
				</ion-input>

				<ion-text *ngIf="error" color="danger" class="error-text">
					{{ error }}
				</ion-text>

				<ion-button
					type="submit"
					[disabled]="loading || signupForm.invalid"
					fill="clear"
					class="hd-button">
					{{ loading ? 'Signing up...' : 'Sign Up' }}
				</ion-button>
			</form>

			<div class="footer ion-text-center ion-margin-top">
				<p>Already have an account? <a [routerLink]="['/login']">Log in</a></p>
			</div>
		</ion-card-content>
	</ion-card>
</ion-content>
