ion-card {
	width: 90%;
	max-width: 600px;
	margin: 2rem auto;
	border-radius: 16px;
	padding: 1rem;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);

	ion-card-header {
		text-align: center;
		margin-bottom: 1rem;
		padding: 1rem;

		ion-card-title {
			font-size: 1.75rem;
			font-weight: bold;
			margin-top: 0.5rem;
		}

		ion-card-subtitle {
			color: #555;
			margin-top: 0.25rem;
		}
	}
}

ion-input {
	margin-bottom: 16px;
}

ion-text {
	display: block;
	margin: 16px 0 0 0;
	text-align: center;
}