ion-card {
	width: 80%;
	max-width: 600px;
	border-radius: 12px;
	margin: 0 auto;
	padding: 5px;

	ion-card-title {
		font-size: 1.5rem;
		text-align: center;
		margin-bottom: 20px;
	}

	ion-card-header {
		text-align: center;
		margin-bottom: 20px;
	}

	ion-card-content {
		padding: 20px;

		ion-input {
			margin-bottom: 20px;
		}
	}
}

.google-button {
	background-color: #f6ad55;
	color: white;
	margin-bottom: 1rem;
}

.separator {
	display: flex;
	align-items: center;
	margin: 1rem 0;
}

.separator div {
	flex: 1;
	height: 1px;
	background: #e2e8f0;
}

.separator span {
	margin: 0 0.5rem;
	color: #a0aec0;
}

.login-button {
	background-color: #ecc94b;
	color: white;
	margin-top: 1rem;
}

.footer {
	margin-top: 1.5rem;
	font-size: 0.9rem;
	color: #718096;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer a {
	color: #f6ad55;
	text-decoration: none;
	font-weight: bold;
	margin-left: 5px;
}
