<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-button (click)="router.navigate(['/landing'])">
			<ion-icon name="arrow-back"></ion-icon>
		</ion-button>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-header class="ion-text-center">
			<img src="assets/icon/logo_trans.png" alt="HoneyDo Logo" class="logo">
			<ion-card-title>Welcome Back!</ion-card-title>
			<ion-card-subtitle>We're happy to see you again</ion-card-subtitle>
		</ion-card-header>

		<ion-card-content>
			<form (ngSubmit)="handleSubmit()" class="ion-margin-top">
			<ion-button
				fill="clear"
				class="hd-button"
				(click)="handleGoogleSignIn()"
				[disabled]="loading">
				<ion-icon slot="start" name="logo-google"></ion-icon>
				<ion-text>Continue with Google</ion-text>
			</ion-button>

			<div class="separator">
				<div></div>
				<span>or</span>
				<div></div>
			</div>

				<ion-input
					type="email"
					label="Email"
					labelPlacement="stacked"
					placeholder="Enter your email"
					fill="outline"
					[(ngModel)]="email"
					name="email"
					[disabled]="loading">
				</ion-input>

				<ion-input
					type="password"
					label="Password"
					labelPlacement="stacked"
					placeholder="Enter your password"
					fill="outline"
					[(ngModel)]="password"
					name="password"
					[disabled]="loading">
					<ion-input-password-toggle color="medium" slot="end"></ion-input-password-toggle>
				</ion-input>

				<ion-button
					type="submit"
					fill="clear"
					class="hd-button"
					[disabled]="loading">
					{{ loading ? 'Signing in...' : 'Sign In' }}
				</ion-button>
			</form>

			<ion-text color="danger" *ngIf="error" class="ion-padding-top">
				<p class="ion-text-center">{{ error }}</p>
			</ion-text>

			<div class="footer ion-text-center ion-margin-top">
				<p>Don't have an account? <a [routerLink]="['/signup']">Create one</a></p>
				<ion-button color="warning" fill="clear" expand="block" routerLink="/forgot-password">
					<ion-text>Forgot Password?</ion-text>
				</ion-button>
			</div>
		</ion-card-content>
	</ion-card>
</ion-content>
